optimizer:
  name: Adam
  params:
    lr: 0.001
    weight_decay: 0.0001
scheduler:
  name: CosineAnnealingLR
  params:
    T_max: 300
    eta_min: 0.00001
early_stopping:
  patience: 10
  min_delta: 0.001
trainer:
  max_epochs: 500
  accelerator: gpu
  devices: auto
  strategy: ddp
  precision: 32
